/* FOOTER */
.footer-info {
  background-color: #FF4D51;
  color: #FFF;
  padding: 100px 0;
  text-align: center;
}

.footer-info a {
  padding: 5px;
  background-color: #FFF;
  color: #FF4D51;

}

.footer-info .to-top {
  margin-top: 25px;
}
