/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

/* COMMON */
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  font-weight: 100;
}

a {
  text-decoration: none;
}

h4 {
  font-weight: 600;
  font-size: 0.9em;
}


.inner {
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-red {
  /* width: 100px; */
  color: #FFF;
  background-color: #FF4D51;
  padding: 10px 40px;
  font-size: 0.8em;
}

.btn-red:hover {
  color: #FF4D51;
  background-color: #FFF;
  border: 1px solid #FF4D51;
}

/* HEADER */
.header-background {
  background: url(../image/first-bg.jpg) no-repeat center bottom fixed;
  height: 90vh;
  width: 100%;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .menu {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav .menu li {
  display: flex;
  justify-content: center;
  transition: all 0.8s;
}

header nav .menu li:hover {
  background-color: #030;
}

header nav .menu li:hover a {
  color: #fff;
}

header nav .menu li a {
  color: #757575;
  padding: 20px 30px;
}

header nav .toggleBtn {
  display: none;
}

/* HEADER DESCRIPTION */
.header-description {
  padding-top: 300px;
  display: flex;
}

.header-description .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.header-description .header-description__title1 {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 1.3em;
}

.header-description .header-description__title2 {
  font-size: 2.4em;
  font-weight: 600;
  padding-bottom: 0.4em;
}

.header-description .header-description__text {
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.header-description a {
  color: #757575;
  background-color: #000;
  padding: 20px 50px;
}

.header-description a:hover {
  color: #fff;
}

/* CONTENT LIST */

.content-list1 p, .content-list2 p {
  color: #666666;
  font-size: 0.9em;
  line-height: 1.5em;
}
.content-list1 {
  padding: 7vw;
  text-align: center;
  background-color: #EAEAEA;
}

.content-list1 .content-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.content-list1 .content-overview li {
  background-color: #FFF;
  width: 200px;
  padding: 20px;
  min-height: 220px;
}

.content-list1 .content-overview li span {
  color: #FF4D51;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 600;
  padding: 20px;
}

.content-list1 .content-overview li h4 {
  padding: 20px 0;
}

.content-list1 .content-overview li p {
  text-align: start;
}

.content-list2 {
  background: url(../image/topsub_2.jpg) no-repeat center bottom fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.content-list2 .content-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px;
}

.content-list2 .content-description li {
  background-color: #FFF;
  width: 500px;
  height: 400px;
  padding: 30px 30px 50px 30px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.content-list2 .content-description li a {
  display: flex;
  justify-self: start;
}

.content-list2 .content-description li h4 {
  
}

.content-list2 .content-description li .division-line{
  border: none;
  border-top: 1px solid #757575;
  width: 50%;
  margin-bottom: 10px;
}

.content-list2 .content-description li p {
  text-align: start;
  margin: 10px 0;
}

.content-list2 .content-description .division-grid{
  display: flex;
  flex-grow: 1;
}

.content-list2 .content-description li span {
  color: #FF4D51;
  font-weight: 600;
  display: flex;
  align-self: flex-start;
  margin: 10px 0;
}

.company-description {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 100px 0;
}

.company-description h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 10px 0;
}

.company-description .division-line {
  border: none;
  border-top: 1px solid #FF4D51;
  width: 40%;
  
}

.company-description p {
  color:#757575;
  margin: 10px 0;
  line-height: 1.4em;
}

.company-description a {
  margin-top: 20px;
}

/* FOOTER */
.footer-info {
  background-color: #FF4D51;
  color: #FFF;
  padding: 100px 0;
  text-align: center;
}

.footer-info a {
  padding: 5px;
  background-color: #FFF;
  color: #FF4D51;

}

.footer-info .to-top {
  margin-top: 25px;
}



/* MEDIA QUERY */

@media screen and (max-width: 960px) {
  header nav {
    min-height: 60px;
    position: relative;
  }

  header nav .toggleBtn {
    display: block;
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }

  header nav .menu {
    display: none;
  }

  header nav .menu.menu-trigger {
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    right: 0;
    top: 14px;
    overflow: hidden;
    border-radius: 5px;
  }
  header nav .menu.menu-trigger li {
    flex-grow: 1;
  }

  .content-list2 {
    min-height: 1000px;
  }

  .content-list2 .content-description {
    flex-wrap: wrap;
  }

}


