@import url('./css/header.css');
@import url('./css/gc-intro.css');
@import url('./css/gc-research.css');
@import url('./css/gc-read.css');

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
